.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1becf0 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;

	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1ff0f0;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #120101;
}
button{
    cursor: pointer;
    outline: 0;
    color: #AAA;
  
  }
  
  .btn:focus {
    outline: none;
  }
  
  .green{
    color: green;
  }
  
  .red{
    color: red;
  }
  .comment{
    background-color: #f8f8f8;
  }
  /* .card{
    background-color: #f8f8f8;
  } */
 .name{
 background-color:  #7a8281;
 text-align: right;
 color: #fff;
 }